.App {
  text-align: center;
}
body {
  font-family: 'Helvetica Neue', sans-serif;
  max-width: 50em;
  margin: auto;
  padding: 2em 1em;
  background-color: #18181fa9;

}
nav{
  padding: .5em;
  text-decoration: none;
  text-align: right;
  margin: 14px;
  background-color: rgba(246, 252, 223, 0.329);

}
.navLink {
  margin: .25em;
  padding: .25em;
  text-decoration: none;
  display: inline-block;
}
.appHead {
  padding: 20px;
  background-color: #dfdfeb77;

}

